@import "../sass/utilities/variables";
@import "../sass/base/normalize";
@import "../sass/components/page-header";
@import "../sass/components/hero";
@import "../sass/components/modal";
@import "../sass/components/skills";
@import "../sass/components/works";
@import "../sass/components/team";
@import "../sass/components/customers";
@import "../sass/components/portfolio-button";
@import "../sass/components/projects";
@import "../sass/components/footer";
@import "../sass/components/footer-subscription";