.constant-customers__container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .constant-customers {
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  .constant-customers__title {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;

  margin: 0;
  margin-bottom: 50px;
  }
  
.customers-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
  
  .customers-list__item:not(:last-child) {
    margin-right: 30px;
  }
  
  /* отступ иконок друг от друга 2й способ
  .customers-list .item + .item {
    margin-left: 30px; */
  
.customers-list__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    overflow: hidden;
    fill: #AFB1B8;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: $cube;
    &:hover, &:focus {
      fill: $hover-color;
      border-color: $hover-color;
        
      transform: transition;
    }
}