
  
  .footer-subscription {
    /* display: block; */
    /* width: auto;
    height: auto;
    margin-left: 70px; */
    width: auto;
    margin-left: 0px;
    margin-right: 93px;
    display: block;
    justify-content: center;
    align-content: flex-start;
  }
  
   .footer-headline {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  
    margin: 0;
    margin-bottom: 20px;
  }
  
  .footer-social__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin: 0;
    padding: 0;
  }
  
  .social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $cube;
    fill: $background-color;
    background: rgba(255, 255, 255, 0.1);
    &:hover, &:focus {
    background: $hover-color;
    transform: transition;
    }
  }
   
  .footer-signup {
    width: auto;
    margin-left: 0px;
    margin-right: auto;
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .footer-signup__title {
    font-family: inherit;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
  }
  
  .signup-form {
    display: flex;
    position: relative;
    align-items: center;
  }
  
  .signup-form__input {
    position: relative;
    margin-right: 12px;
    padding-left: 16px;
  
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(47, 48, 58, 1);
    color: $background-color;
  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  
    transition: border 250ms var(--cube);
  
    cursor: pointer;
    &:hover, &:focus {
      border: 1px solid $hover-color;
    }
  }
    
  .signup-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin: 0;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;
    background-color: $hover-color;
    color: $background-color;
  
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: left;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
  
  .send-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 10px;
    fill: $background-color;
  }