.projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .projects .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  
  .buttons-list__item {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  
 
  
  .filter-button {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
  
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
  
    border-radius: 4px;
    border-width: 2px;
    border-style: hidden;
    border-color: #f5f4fa;
    background-color: rgba(245, 244, 250, 1);
    cursor: pointer;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $cube;
    &:hover, &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
      0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  .project__name {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.06em;
    color: $main-color;
  
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
  }
  
  .project__type {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9;
    letter-spacing: 0.03em;
    text-align: left;
    font-family: Roboto;
    color: $secodary-color;
  
    margin: 0;
    padding: 0;
  }
  
  .buttons-list {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 00.03em;
    color: $background-color;
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }
  
  .filter-button--active {
    color: $background-color;
    background-color: $hover-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
     0px 1px 2px rgba(0, 0, 0, 0.08), 
     0px 2px 2px rgba(0, 0, 0, 0.12);
     transform: transition;
  }

  
  .projects-list {
    list-style: none;
  
    display: flex;
    flex-wrap: wrap;
  
    margin: 0;
    padding: 0;
  }
  
  .projects-list__item {
    background-color: $background-color;
  
    margin-right: 30px;
    margin-bottom: 30px;
  
    width: 370px;
  
    /* border: 1px solid #eeeeee; */
  }
  
  .projects-list__item img {
    display: block;
  }
  
  /* li не может быть активной для focus */
  /* .project-all:hover,
  .project-all:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
   rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
  } */
  
  .projects-list__item a {
    display: block;
    text-decoration: none;
    color: inherit;
  
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $cube;
  }
  
  .projects-list__item a:hover,
  .projects-list__item a:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px 
   rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   transform: transition;
  }
  
  .projects-list__item:nth-child(3n + 3) {
    margin-right: 0;
  }
  
  .projects-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }