.works {
    padding-bottom: 94px;
  }
  
  .works .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  
    display: flex;
  }
  
  .works__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .works__item {
    position: relative;
    margin-left: 0;
    margin-right: 30px;
    & img {
      display: block;
      max-width: 100%;
      height: auto;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  
.works__discription {
    position: absolute;
    left: 0;
    bottom: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    height: 70px;
  
    margin: 0;
    padding: 0;
  
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
  
    color: $background-color;
    background-color: rgba(47, 48, 58, 0.8);
  }
  
  .works__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    color: $main-color;
  
    margin-top: 0;
    margin-bottom: 50px;
  }